.example-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 50px;
}
.title {
    font-size: x-large;
    margin: 20px 10px;
    font-weight: bold;
    color: blue;
}
.inputBox {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.result {
    font-size: large;
    font-weight: bold;
}